<h1> <%= @sy.year  %> Scorecard: <%= @person.name_fl %></h1>
<ul class="list-inline">
  <li class="truth-book"><%= 'Book 3A' %></li>
  <li class="blue-team"><%= 'Blue Team' %></li>
  <li class="table-assignment">Table <%= @registration.table_assignment %></li>
  <li class="scorecard-points"><%= '450 points' %></li>
  <li class="award-pace"><%= 'Pace ###&&&**' %></li>
</ul>
<p>Tonight:  book | bible | Theme | custom</p>
<p>TODO list current sections</p>
7-5 [Done
