<h1><%= @sessionyear.year %> Calendar</h1>
Theme: <%= @sessionyear.theme %>

<table class="table table-hover table-condensed">
  <tr>
     <th>Date</th>
     <th>Lesson</th>
     <th>Events</th>
  </tr>
  <% #@sessionyear.make_new_stub_cal
     #CalBuilder.build_draft(@sessionyear)
     mgr = K4tLessonMgr.new
  %>
  <% @sessionyear.sessiondays.each do |sd| %>
    <tr class="<%= sd.is_club_night? ? 'stronger' : 'weaker' %> <%= sd.is_current? ? 'info' : '' %>">
      <td><%= sd.sd_date.to_formatted_s :mdy %></td>
      <td>
        <% if sd.is_club_night? %>
          <%  lesson =  mgr.next_b %>
          <%= lesson[:name] %>
        <% else %>
          No K4T
        <% end %>
      </td>
      <td><%= '' %>Event
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add event <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action 1</a></li>
            <li><a href="#">Action 2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Other thing</a></li>
          </ul>
        </div>
      </td>
    </tr>
<% end %>
</table>

<%= link_to 'Back', sessionyears_path %>
