<p id="notice"><%= notice %></p>

<h1>Sessionyears</h1>

<table class="<%= tbl_css %>">

  <tbody>
    <tr>
      <th>Year</th>
      <th>Theme</th>
      <th>Calendar</th>
      <th>Dates</th>
      <th>Reg Count</th>
      <th>Avg Att</th>
      <th></th>
      <th></th>
    </tr>
    <% now = Time.now %>
    <% @sessionyears.each do |sessionyear| %>
      <tr class="<%= (now.between?(sessionyear.start_date, sessionyear.end_date)) ? 'alert alert-info' : '' %>">
        <td>
          <%= link_to sessionyear.year, sessionyear %>
        </td>
        <td><%= sessionyear.theme %></td>
        <td>
          <% if sessionyear.has_cal? %>
            <a href="/calendar/<%= sessionyear.id %>">View Calendar</a>
          <% else %>
            <%= button_to 'Generate',("/calendar/#{sessionyear.id}"), method: :post, class:"btn btn-primary" %>
          <% end %>
        </td>
        <td>
          <%= sessionyear.start_date.to_formatted_s :mdy %> -
          <%= sessionyear.end_date.to_formatted_s :mdy %>
        </td>
        <td>todo</td>
        <td>todo</td>
        <td><%= link_to 'Edit', edit_sessionyear_path(sessionyear) %></td>
        <td><%= link_to 'Destroy', sessionyear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sessionyear', new_sessionyear_path, class: "btn btn-primary" %>
