<p id="notice"><%= notice %></p>
<h1><%= @sessionyear.year %> Calendar</h1>
Theme: <%= @sessionyear.theme %>


<%= link_to 'Edit', edit_sessionyear_path(@sessionyear) %> |
<%= link_to 'Back', sessionyears_path %>
