<% stats = @registration.progress_stats %>

<h1> <%= @sy.year  %> Scorecard: <%= @person.name_fl %></h1>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Truthbook:
    <span class="badge badge-info badge-pill">
      <%= @person.current_truthbook.name %>
    </span>
  </li>
  <li class="list-group-item"> <%= team_color(@registration) %> </li>
  <li class="list-group-item">Table
    <span class="badge badge-info badge-pill">
      <%= @registration.table_assignment %>
    </span>
  </li>
  <li class="list-group-item">Total Points:
    <span class="badge badge-info badge-pill">
      <%= @registration.points %>
    </span>
  </li>
  <li class="list-group-item">
    Total Signas:
    <span class="badge badge-info badge-pill">
      <%=  stats[:signas_count] %>
    </span>
    (<%= stats[:signas_per_attendance] %> / att.)
  </li>
</ul>

<h2>Next Sections</h2>
<p>Tonight:  book | bible | Theme | custom</p>

<div style="display: flex; justify-content: space-between; align-items: flex-end;">
<h2>Scores</h2>
<ul class="list-inline">
  <li>
    <%= render partial: 'scores/award_progress_bar', locals: {stats: stats, color: 'Silver'} %>
  </li>
  <li>
    <%= render partial: 'scores/award_progress_bar', locals: {stats: stats, color: 'Gold'} %>
  </li>
</ul>
</div>
<table class="table table-hover table-condensed table-striped">
  <tr>
    <th>Date</th>
    <th>Bk/Bible/Att</th> <%# Recorded by belongs to each score, not the line  %>
    <th>Truthbook</th>
    <th>Other</th>
    <th>Points</th>
  </tr>
  <% @scoresheet.lines.each do |line_date, line_data|  %>
    <tr class="">
      <td><%= line_date %> </td>
      <td><%= book_bible_att(line_data) %> </td>
      <td><%= tb_signas(line_data)%> </td>
      <td><%= other_scores(line_data)%> </td>
      <td><%= accum_line_pts(line_data) %></td>
    </tr>
  <% end %>
</table>

