<% stats = @registration.progress_stats %>

<h1> <%= @sy.year  %> Scorecard: <%= @person.name_fl %></h1>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Truthbook:
    <span class="badge badge-info badge-pill">
      <%= @person.current_truthbook.name %>
    </span>
  </li>
  <li class="list-group-item"> <%= team_color(@registration) %> </li>
  <li class="list-group-item">Table
    <span class="badge badge-info badge-pill">
      <%= @registration.table_assignment %>
    </span>
  </li>
  <li class="list-group-item">Total Points:
    <span class="badge badge-info badge-pill">
      <%= @registration.points %>
    </span>
  </li>
  <li class="list-group-item">
    Total Signas:
    <span class="badge badge-info badge-pill">
      <%=  stats[:signas_count] %>
    </span>
    (<%= stats[:signas_per_attendance] %> / att.)
  </li>
</ul>


<div class="d-flex align-items-center">
  <h2 class="flex-grow-1">Scores</h2>
  <div>
    <%= render partial: 'scores/award_progress_bar', locals: {stats: stats, color: 'Silver'} %>
  </div>
  <div class="">
    <%= render partial: 'scores/award_progress_bar', locals: {stats: stats, color: 'Gold'} %>

  </div>
</div>
<table class="<%= tbl_css %>">
  <tr>
    <th class="<%= sm_scr_only %>">Date</th>
    <th class="<%= bg_scr_only %>">Date</th>
    <th>Bk/Bi/Att</th> <%# Recorded by belongs to each score, not the line  %>
    <th>Truthbook</th>
    <th>Other</th>
    <th class="<%= bg_scr_only %>">Points</th>
  </tr>
  <tr>
    <td class="<%= sm_scr_only %>"></td>
    <td class="<%= bg_scr_only %>"></td>
    <td>
      <%= render partial: 'scores/quick_add', locals: {
        avail_scores: @next_avail_bba_scores,
        sessionday_id: nil,
        heading: 'Today'} %>
    </td>
    <td>
      <%= render partial: 'scores/quick_add', locals: {
        avail_scores: @next_avail_section_scores,
        sessionday_id: nil,
        heading: 'Next Sections'} %>
    </td>
    <td>
      <%= render partial: 'scores/quick_add', locals: {
        avail_scores: @next_avail_other_scores,
        sessionday_id: nil,
        heading: 'Other'} %>
    </td>
    <td class="<%= bg_scr_only %>"></td>
  </tr>
  <% @scoresheet.lines.reverse_each do |line_date, line_data|  %>
    <tr class="">
      <td class="<%= sm_scr_only %>"><%= sm_date(line_date) %></td>
      <td class="<%= bg_scr_only %>"><%= line_date %></td>
      <td><%= book_bible_att(line_data) %> </td>
      <td><%= tb_signas(line_data)%> </td>
      <td><%= other_scores(line_data)%> </td>
      <td class="<%= bg_scr_only %>"><%= accum_line_pts(line_data) %></td>
    </tr>
  <% end %>
</table>

