<h1>All People</h1>

<table class="table table-striped table-hover table-sm table-responsive-sm">

  <tbody>
    <% @persons.each do |person| %>
      <tr>
        <td><%= link_to person.name_lf, person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <!--<td><%#= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <td><%= link_to 'Register Clubber!', "/registrations/new?person_id=#{person.id}&type=clubber" %></td>
        <td><%= link_to 'Register Leader!', "/registrations/new?person_id=#{person.id}&type=leader" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class:"btn btn-primary" %>
